.App {
  height: 100vh;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  background: var(--color-paper);
  overflow: auto;
}

.Main {
  padding: 1rem;
}

.PageLink {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
