:root {
  --color-paper: #f4f4f4;
  --color-blue: #4999d4;
  --color-orange: #f15a2a;
  --color-box: #c59c6e;
  --color-ink: #434343;
  --color-ink-plus-1: #8e8e8e;
  --color-orange-plus-1: #f79c7f;
  --color-blue-minus-1: #2c5c7f;
  font-size: 14px;
}

body {
  font-family: 'apercu-regular';
  color: var(--color-ink);
  margin: 0;
  background: black;
  font-size: 1rem;
}

button {
  border: 1px solid var(--color-ink);
  border-radius: 4px;
  height: 3rem;
  width: fit-content;
  min-width: 3.5rem;
  background-color: var(--color-orange);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}
